@import url(./title/comments__title.css);
@import url(./subtitle/comments__subtitle.css);
@import url(./container/comments__container.css);
@import url(./item/comments__item.css);
@import url(./image/comments__image.css);
@import url(./comment/comments__comment.css);
@import url(./author/comments__author.css);

.comments {
    max-width: 1184px;
}

@media screen and (max-width: 1280px) {
    .comments {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .comments {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 376px) {
    .comments {
        max-width: calc(100% - 32px);
    }
}