@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);

.lead { 
    max-width: 984px;
}

@media screen and (max-width: 1080px) {
    .lead {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 864px) {
    .lead {
        max-width: 768px;
    }
}