.places__text {
    margin: -3px 0 0 40px;
}

@media screen and (max-width: 1080px) {
    .places__text {
        max-width: calc(50% + 24px);
    }
}

@media screen and (max-width: 1024px) {
    .places__text {
        max-width: calc(50% + 24px);
        margin: -3px 0 0 32px;
    }
}

@media screen and (max-width: 768px) {
    .places__text {
        max-width: calc(50% + 20px);
        margin: -3px 0 0 28px;
    }
}

@media screen and (max-width: 664px) {
    .places__text {
        max-width: 100%;
        margin: 28px auto 0;
    }
}

@media screen and (max-width: 376px) {
    .places__text {
        max-width: calc(100% - 32px);
        margin: 24px auto 0;
    }
}