.video__description {
    margin-bottom: 26px;
}

@media screen and (max-width: 1024px) {
    .video__description {
        margin-bottom: 31px;
    }
}

@media screen and (max-width: 872px) {
    .video__description {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 376px) {
    .video__description {
        margin-bottom: 22px;
    }
}

@media screen and (max-width: 320px) {
    .video__description {
        margin-bottom: 16px;
    }
}