.places__content {
    margin-top: 52.4px;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .places__content {
        margin-top: 47.5px;
    }
}

@media screen and (max-width: 768px) {
    .places__content {
        margin-top: 49px;
    }
}

@media screen and (max-width: 664px) {
    .places__content {
        flex-direction: column;
    }
}

@media screen and (max-width: 376px) {
    .places__content {
        margin-top: 34.5px;
    }
}