.video__subtitle {
    text-align: center; 
    margin: 32px auto 0;
}

@media screen and (max-width: 1024px) {
    .video__subtitle {
        margin: 31px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .video__subtitle {
        margin: 29px auto 0;
    }
}

@media screen and (max-width: 376px) {
    .video__subtitle {
        margin: 23px auto 0;
    }
}

@media screen and (max-width: 320px) {
    .video__subtitle {
        margin: 20px auto 0;
    }
}