.video__item {
    width: 100%;
    padding-bottom: 55.4%;
    color: #FFFFFF;
}

.video__item:nth-of-type(1) {
    background-image: url(../../../images/kamchatka.jpg);
}
 
.video__item:nth-of-type(2) {
    background-image: url(../../../images/observatory.jpg);
}

@media screen and (max-width: 1024px) {
    .video__item {
        padding-bottom: 63.1%;
    }
}

@media screen and (max-width: 768px) {
    .video__item {
        padding-bottom: 56.8%;
    }
}

@media screen and (max-width: 730px) {
    .video__item {
        padding-bottom: 58.3%;
    }
}

@media screen and (max-width: 700px) {
    .video__item {
        padding-bottom: 67%;
    }
}

@media screen and (max-width: 655px) {
    .video__item {
        padding-bottom: 55.4%;
    }
}

@media screen and (max-width: 430px) {
    .video__item {
        padding-bottom: 58.3%;
    }
}

@media screen and (max-width: 355px) {
    .video__item {
        padding-bottom: 66.6%;
    }
}