.lead__image {
    margin-top: 71px;
    width: 100%;
    background-image: url(../../../images/polka.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 56.31%; 
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin-top: 71px;
        background-image: url(../../../images/polka1.jpg);
        padding-bottom: 59.7%; 
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-top: 71px;
        background-image: url(../../../images/polka.jpg);
        padding-bottom: 54.7%; 
    }
}

@media screen and (max-width: 640px) {
    .lead__image {
        margin-top: 56px;
    }
}

@media screen and (max-width: 520px) {
    .lead__image {
        margin-top: 48px;
    }
}

@media screen and (max-width: 376px) {
    .lead__image {
        margin-top: 34px;
        padding-bottom: 56%; 
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        background-image: url(../../../images/polka2.jpg);
        padding-bottom: 66%; 
    }
}