.container__item {
    color: #FFFFFF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}