.places__item {
    margin-top: 83.7px;
}

@media screen and (max-width: 1024px) {
    .places__item {
        margin-top: 91px;
    }
}

@media screen and (max-width: 768px) {
    .places__item {
        margin-top: 94px;
    }
}

@media screen and (max-width: 376px) {
    .places__item {
        margin-top: 54.5px;
    }
}