.cover__title {
    width: 100%;
    letter-spacing: 0.28px;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 79px;
}

@media screen and (max-width: 1100px) {
    .cover__title {
        max-width: 550px;
    }
}

@media screen and (max-width: 665px) {
    .cover__title {
        font-size: 60px;
        line-height: 66px;
        max-width: 450px;
    }
}

@media screen and (max-width: 516px) {
    .cover__title {
        max-width: 350px;
        font-size: 45px;
        line-height: 50px;
    }
}

@media screen and (max-width: 376px) {
    .cover__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
    }
}