.video__title-item {
    width: 322px;
    margin-top: 12px;
    font-size: 36px;
    line-height: 39px;
    font-weight: 900;
    letter-spacing: 0.4px;
}

@media screen and (max-width: 1024px) {
    .video__title-item {
        margin-top: 12.5px;
    }
}

@media screen and (max-width: 872px) {
    .video__title-item {
        font-size: 24px;
        line-height: 26px;
    }
}

@media screen and (max-width: 768px) {
    .video__title-item {
        max-width: 100%;
        margin-top: 8px;
    }
}

@media screen and (max-width: 655px) {
    .video__title-item {
        font-size: 36px;
        line-height: 39px;
    }
}

@media screen and (max-width: 430px) {
    .video__title-item {
        font-size: 24px;
        line-height: 26px;
    }
}