.intro__photo-grid {
    margin: 97px auto 0;
}

@media screen and (max-width: 1024px) {
    .intro__photo-grid {
        margin: 95px auto 0;
    }
}

@media screen and (max-width: 768px) {
    .intro__photo-grid {
        margin: 91px auto 0;
    }
}

@media screen and (max-width: 376px) {
    .intro__photo-grid {
        margin: 68.5px auto 0;
    }
}