@import url(./__item/places__item.css);
@import url(./__heading/places__heading.css);
@import url(./__title/places__title.css);
@import url(./__link-container/places__link-container.css);
@import url(./__link-heading/places__link-heading.css);
@import url(./__content/places__content.css);
@import url(./__image/places__image.css);
@import url(./__text/places__text.css);
@import url(./__paragraph/places__paragraph.css);

.places {
    max-width: 984px;
}

@media screen and (max-width: 1080px) {
    .places {
        max-width: calc(100% - 96px);
    }
}

@media screen and (max-width: 768px) {
    .places {
        max-width: calc(100% - 48px);
    }
}

@media screen and (max-width: 376px) {
    .places {
        max-width: 100%;
    }
}