.cover__container {
    width: 100%;
    background-image: url(../../../images/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFFFFF;
    padding-bottom: 50%; 
}

@media screen and (max-width: 1024px) {
    .cover__container {
        background-image: url(../../../images/cover1.jpg);
        padding-bottom: 55%;
    }
}

@media screen and (max-width: 768px) {
    .cover__container {
        background-image: url(../../../images/cover2.jpg);
        padding-bottom: 65%;
    }
}

@media screen and (max-width: 376px) {
    .cover__container {
        background-image: url(../../../images/cover3.jpg);
        padding-bottom: 72.5%;
    }
}

@media screen and (max-width: 320px) {
    .cover__container {
        background-image: url(../../../images/cover4.jpg);
        padding-bottom: 67.5%;
    }
}